<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- don't need to use full paths because we've already set express to use a static directory --}}
    <link  rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    {{!-- this pulls the information out of the index.hbs file --}}
    {{{body}}}
</body>
</html>